// Colors
$text-color: #000;
$error-color: #f00;
$brand-primary: #0059aa;
$brand-secondary: #c62616;

$brand-tv: #5ca83d;
$brand-health: #52a1b2;
$brand-money: #eea300;
$brand-money-alt: #2b421c; 
$brand-world: #ab64ab;

$brand-primary-light: #f4f4f6; 
$gray-base: #000;
$gray-light: #343334;
$gray-lighter: #c5c5c5;
$gray-extra-light: #f2f2f2;
$gray-light-dark: #29272a;
$gray-lighter-dark: #afafaf;
$gray-dark: #262729;
$gray-darker: #222222;

$schedule-one: #f0f6fa;
$schedule-two: #eaf2f8;
$schedule-three: #c5d8e8;
$schedule-four: #d5e4f1;
$schedule-five: #bed6ea;
$schedule-six: #a8c7e2;

$brand-facebook: #3f5a96;
$brand-twitter: #4b9afc;
$brand-google: #d03f2c;
 
$white-base: #fff;

// Typography
$font-size-base: 17px;
$font-size-sm: 12px; 
$font-size-breaking: 15px;

$font-family-base: Arial, Georgia, 'Times New Roman', Times, Serif;
$font-family-serif: Georgia, 'Times New Roman', Times, Serif;

// Alerts
$alert-info-dark: #bfd5e9;
$alert-info-light: #6198CA;

// Grid
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Misc
$red-warning: #f00;

// Content Boxes
$content-box-dl-primary: #500;
$content-box-dl-secondary: #d99;
$content-box-contact-primary: #005;
$content-box-contact-secondary: #99d;
$content-box-contact-secondary-light: #eef;
