@import 'variables';
@import 'mixins';
@import 'scaffolding';

#nmCanvasPhoto {
	margin-top: 20px;
}

#nmCanvasSummary a {
		color: $brand-secondary;
}

#nmCanvasHeadline{
	text-align: left;
	margin-top: 20px;
	
	h4 a {
		color: black;
		font-size: 22px;
	}
}

.nmBreakingNewsCont {
    margin: 0px;
    padding: 10px 4px;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;

    #nmBreakingNewsTitle, .fa-angle-double-right, #nmBreakingNewsText {
        font-size: 16px;
        display: inline-block;
    }

    h4 {
        margin: 0;
    }
   
     #nmBreakingNewsTitle {
        color: $brand-secondary;
        font-family: $font-family-base;
        font-weight: bold;
    }

    .fa-angle-double-right {
        color: $brand-secondary; 
    }

}
// Medium devices 
@media (min-width: 768px) {

    .nmBreakingNewsCont {
        padding: 0px;
        height: 29px;
        border: 1px solid $brand-secondary;

        #nmBreakingNewsTitle, #nmBreakingNewsArrow {
            height: 27px;
            margin-top: -4px;
            float: left;
        }

        #nmBreakingNewsTitle {
            background-color: $brand-secondary;
            color: #fff;
            font-family: $font-family-base;
            padding: 4px 10px 0 10px;
            font-weight: bold;
        }
        
        h4 {
            padding: 4px 0;
        }
        
        .fa-angle-double-right {
            display: none; 
        }
        
        #nmBreakingNewsArrow{
            display: inline-block;
            background-image: $sprite-sheet;
            background-position: -170px -201px;
            background-repeat: no-repeat;
            width: 18px;
        }
}
	
	#nmCanvasPhoto {
		border-left: $border-size $brand-secondary;
    }
	
	#nmCanvasHeadline h4 a {
		font-size: 30px;
		font-weight: bold;
	}
}

// Large devices 
@media (min-width: 992px) { 
	
    #nmCanvasPhoto img {
		margin-left: 0px;
	}
 }

// Extra large devices 
@media (min-width: 1200px) {  }