/* variables */

$font-stack: Georgia,'Times New Roman',Times,Serif;
$left-border: 6px solid #c32620;
$primary-color: #c32620;

#nmCanvasPhoto {
	margin-top: 20px;
}

#nmCanvasContainer {
	font-family: $font-stack;
	
	#nmCanvasSummary a {
		color: $primary-color;
	}
}
#nmCanvasHeadline{
	text-align: left;
	margin-top: 20px;
	
	h4 a {
		color: black;
		font-size: 22px;
	}
}



// Medium devices 
@media (min-width: 768px) {
	
	#nmCanvasPhoto{
		border-left: $left-border;
	}
	
	#nmCanvasHeadline h4 a {
		font-size: 30px;
	}
}

// Large devices 
@media (min-width: 992px) { 
	#nmCanvasPhoto img {
		margin-left: 0px;
	}
 }

// Extra large devices 
@media (min-width: 1200px) {  }