$serif: Georgia,'Times New Roman',Times,Serif;
$sans-serif: Helvetica, Arial, Sans-serif;
$border-size: 6px solid;
$newsmax-primary: #295AAB;
$newsmax-secondary: #c32620;
$spacer-line: 1px solid #dfdfe7;
$world-color: #AA65AA;
$finance-color: #EBA100;
$health-color: #57A1B1;
$module-color: #8EBFE0;

.DFP {

    
    img {   
            display: block;
            margin: 0 auto;
        }
}

.nmInsiderCont {
    padding: 12px 0;
    margin: 0 1px;
    border-bottom: $spacer-line;
    border-bottom-width: calc(100%-10px)
}

.nmInsiderContent {
    padding-left: 0px;
    a { 
        color: black;
        font-size: 16px;
    }
    .nmInsiderTitle {
        font-size: 11px;
        font-weight: bold;
        color: $newsmax-primary;
    }
    .nmInsiderSummary {
        a {
        font-size: 12px;
        }
    }
}
.nmInsiderThumb {
    border: 3px solid $newsmax-primary;
    width: 53px;
    height: 53px;
}

.nmModuleHead {
    background-color: $module-color;
}


 // Large devices
    @media (min-width: 992px){

    .nmInsiderThumb {
                width: 53px;
                height: 53px;
        }
    .nmInsiderContent {
        padding-left: 15px;
        } 
}

        