@import 'variables';
@import 'mixins';
@import 'scaffolding';


.DFP {

    img {   
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.topDFP img {
    margin-top: 0px;
}

.nmInsiderCont {
    padding: 12px 0;
    margin: 0 1px;
    border-bottom: $spacer-line;
    border-bottom-width: calc(100%-10px)
}

.nmInsiderContent {
    padding-left: 0px;

    a { 
        color: black;
        font-size: 16px;
    }
    .nmInsiderTitle {
        font-size: 11px;
        font-weight: bold;
        color: $brand-primary;
    }
    .nmInsiderSummary {
        a {
            font-size: 12px;
        }
    }
}
.nmInsiderThumb {
    border: 3px solid $brand-primary;
    width: 53px;
    height: 53px;
}

.nmModuleHead {
    border-color: $brand-module;
    margin-bottom: 10px;   
    background-color: $brand-module;
  
    .nmModuleHeadLabel{
        @include head-style($brand-module);
    }
}
@media (min-width: 480px){
    .nmModuleHead {
        background-color: #fff;
    }
  .nmModuleHeadR {
        @include slant($brand-module)
    }
}


 // Large devices
@media (min-width: 992px){

    .nmInsiderThumb {
        width: 53px;
        height: 53px;
    }
    .nmInsiderContent {
        padding-left: 15px;
    } 
}

        