@import 'variables';
@import 'mixins';
@import 'scaffolding';


.nmLeadStoryHead {
    h2 {
        margin: 0px;
        font-size:28px;
    }
}

.nmNewsfrontHead {
    h2 {
           margin: 0px;
           font-size:20px;
    }
}

.nmNewsfrontLead, .nmNewsfrontStory {
   border-bottom: $spacer-line;
   padding: 15px 0;   
   margin: 0 1px;

   div {
       padding-left: 0px;
   }
}

.nmNewsfrontSummary, .nmLeadStorySummary {
    a {
      color: $brand-secondary
    }

    div {
        padding: 0px;
    }
}

.nmNewsfrontSummary {
    color: #666666;
}


.nmSectionLinks {
    color: $brand-secondary;
    list-style-type: square;
    font-size: 16px;
    margin-top: 10px;

    li {
        margin-bottom: 10px;
        
        a {
          color: black;
        }
    } 
}

#nmFinanceLabel {
    border-color: $brand-money;

    .nmSectionHeadLabel{
        background-color: $brand-money;
    }
}
#nmWorldLabel {
    border-color: $brand-world;
    
    .nmSectionHeadLabel{
        background-color: $brand-world;
    }
}
#nmHealthLabel {
   border-color: $brand-health;
    
    .nmSectionHeadLabel{
        background-color: $brand-health;
    }
}

.nmMoreSection {
	margin: 10px 0 0px 0;
	padding-top: 10px;
	
	a {
		color: $brand-primary;
		font-size: 12px;
		font-weight: bold;
		font-family: $font-family-base;
		padding: 10px;
	}
}

.nothumb {
    border-top: $spacer-line;
}
@media (min-width: 480px){

  #nmFinanceLabel .nmSectionHeadR {
    @include slant($brand-money)
    }

    #nmWorldLabel  .nmSectionHeadR {
        @include slant($brand-world)
        }

   #nmHealthLabel .nmSectionHeadR {
        @include slant($brand-health)
    }
}
.smallLead {
    width: 150%;
}

/* Medium */
@media (min-width: 768px) {
    .nmLeadStoryThumb,
    .nmNewsfrontThumb {
        border-left: $border-size $brand-secondary;
    }

    .nmSectionLinks {
        font-size: 20px;
    }

    .financeThumb {
        border-left: $border-size $brand-money;
    }

    .healthThumb {
        border-left: $border-size $brand-health;
    }
}