$serif: Georgia,'Times New Roman',Times,Serif;
$sans-serif: Helvetica, Arial, Sans-serif;
$border-size: 6px solid;
$newsmax-primary: #295AAB;
$newsmax-secondary: #c32620;
$spacer-line: 1px solid #dfdfe7;
$world-color: #AA65AA;
$finance-color: #EBA100;
$health-color: #57A1B1;
$module-color: #8EBFE0;
$special-head-color: #C4321E;
@mixin slant($border-color) {
    float: left;
    border: 30px solid $border-color; 
    border-top: 30px solid #fff; 
    border-right: 30px solid #fff; 
    border-bottom: 0; 
    height: 0; 
    width: 0; 
}
@mixin head-style($color){
    float: left;
    background-color: $color;
    color: #fff;
    height:30px;
    box-sizing:border-box;
    padding: 5px;
}
.nmLeadStoryHead {
    h2 {
          margin: 0px;
          font-size:28px;
      }
}

.nmNewsfrontHead {
    h2 {
           margin: 0px;
           font-size:20px;
       }
}

.nmNewsfrontLead,
.nmNewsfrontStory {
   border-bottom: $spacer-line;
   padding: 15px 0;   
   margin: 0 1px;

   div {
       padding-left: 0px;
   }
}

.nmNewsfrontSummary {
    color: #666666;
}

.nmNewsfrontSummary,
.nmLeadStorySummary {
    a {
      color: $newsmax-secondary
    }

    div {
        padding: 0px;
    }
}


.nmSectionLinks {
    color: $newsmax-secondary;
    list-style-type: square;
    font-size: 16px;
    margin-top: 10px;
    li {
           margin-bottom: 10px;
        a {
          color: black;
       
        }
    } 

}

#nmFinanceLabel {
    border-color: $finance-color;

    .nmSectionHeadLabel{
        background-color: $finance-color;
    }
}
#nmWorldLabel {
    border-color: $world-color;
    
    .nmSectionHeadLabel{
        background-color: $world-color;
    }
}
#nmHealthLabel {
   border-color: $health-color;
    
    .nmSectionHeadLabel{
        background-color: $health-color;
    }
}
@media (min-width: 480px){

  #nmFinanceLabel .nmSectionHeadR {
    @include slant($finance-color)
    }


    #nmWorldLabel  .nmSectionHeadR {
        @include slant($world-color)
        }

   #nmHealthLabel .nmSectionHeadR {
        @include slant($health-color)
    }
}
.smallLead {
    width: 150%;
}

/* Medium */
@media (min-width: 768px) {
    .nmLeadStoryThumb,
    .nmNewsfrontThumb {
        border-left: $border-size $newsmax-secondary;
    }

    .nmSectionLinks {
        font-size: 20px;
    }

    .financeThumb {
        border-left: $border-size $finance-color;
    }

    .healthThumb {
        border-left: $border-size $health-color;
    }
}