@import 'variables';
@import 'mixins';
@import 'scaffolding';

.signupFormWrapper {
    margin: 0px;
    padding: 10px 0;

    .form-group {
        margin-bottom: 10px;
    }

    label {
        padding-right: 0px;
        font-size: 11px;
        font-weight: bold;
        color: #646464;
        text-align: right;
        margin-top: 8px;
    }

    button {
        border-radius: 0px;
        height: 30px;
        padding: 0 6px;
        font-family: $font-family-base;
        background-color: $brand-secondary;
        font-weight: bold;
    }

    .submitButton {
        padding-left: 0px;
        text-align: right;
    }

    .formPrivacyStatement {
        text-align: center;
        color: black;
        font-size: 11px;
        font-weight: bold;
    }

    .signupBox {
        padding-top: 10px;
        border: 3px solid $brand-primary;
        border-top: none;
    }
}

.nmEmailHeadLabel { 
    background-color: $brand-primary;
}

@media (min-width: 480px) {
   
    .nmEmailHead {
    border-color: $brand-primary;

   .nmEmailHeadLabel {
    @include head-style($brand-primary);
        a {
            font-size: 18px;
        }
}
  .nmEmailHeadR {
    @include slant($brand-primary)
    }
}

}

/* Large devices */
@media (min-width: 992px){

    .signupFormWrapper {
        .form-group {
            padding: 0px;
        }
        
        .nmSignUpButtonCont {
            margin-top: 0px;
            
            input {
                width: 60px; 
                text-align: left;
                margin: 0px;
            }
        }

        .nmSignUpLabel {
            padding: 0px;
        }

        button {
            text-align: left;
            font-size: 11px;
        }
    }
}