@import 'variables';
@import 'mixins';
@import 'scaffolding';

.nmSocialCont {
    border-bottom: $spacer-line;
    
    .nmSocial {
        padding: 20px 0px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        border-right: $spacer-line;

        .likeFollow {
                font-style: italic;
                font-weight: normal;
                }
    }

    .socialBordernone {
        border-right: none;
    }

}

.twitterNetwork {

    p {
          font-size: 15px;
          margin: 0px;
    }
    a {
        font-size: 12px;
        font-family: $font-family-base;
        color: #2058ad;
        font-weight: bold;
    }
}

.sponsors {
    margin: 12px 0 20px 0;
    list-style-type: none;
    padding: 0px;

    li {
        padding: 0 0 0 10px;
        margin-bottom: 18px;
           
        a {
            color: #000;
            font-size: 14px;
        }
        span {
            color: $brand-secondary;
            margin-right: 10px;
            height: 100%;
        } 
    }
}

.whatsThis {
    text-align: right;
    
    a {
        color: black;
        font-size: 14px;
        font-weight: bold;
        padding: 0 15px;
    }
}

.feed-random {
    margin: 0;
    list-style-type: none;
    padding: 0 15px;
   
    li {
        padding-bottom: 5px;
        margin: 5px 0;
    }   a {
            color: black;
            font-size: 14px;
            font-weight: bold;
    }
    span {
        font-size: 11px;
        font-family: $font-family-base;
        color: #666666;
    }
}

@media (min-width: 480px) {
    .feed-random {
        padding: 0px;
    }
}