@import 'variables';
@import 'mixins';
@import 'scaffolding';

.nmSectionHead {
    margin-top: 20px;
    border-bottom: 4px solid $brand-primary;
    float: left;
    width: 100%;

    a {
        font-family: $font-family-base;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
 }

.nmSpecialSectionHeadline h2 {
    font-size: 24px;
    margin-top: 0px;
}

.nmSpecialLinks {
    padding-left: 0px;
    margin-left: 16px;
    list-style-type: square;
    color: $brand-secondary;

    li {
        font-size: 18px;

        a {
            color: black;
        }
    }
}

.nmSpecialSection {
    margin-top: 15px;
}

.nmSpecialHeadLabel {
    background-color: $brand-special;
    padding: 5px;
}

.nmSectionHeadLabel {
    background-color: $brand-primary;
    padding: 5px;
}

.nmSpecialHead {
    border-color: $brand-special;
}


@media (min-width: 480px) {
    
    .nmSpecialHeadLabel,
    .nmSectionHeadLabel {
       @include head-style($brand-special)
    }

    .nmSectionHeadLabel {
        background-color: $brand-primary;
    }

    .nmSpecialHeadR,
    .nmSectionHeadR {
       @include slant($brand-special)
    }

    .nmSectionHeadR {
        @include slant($brand-primary)
    }
}
// Medium devices
@media (min-width: 768px) {
   
     #nmSpecialSectionThumb {
        border-left: $border-size $brand-secondary;
    }
}
// Large devices
@media (min-width: 992px) {
    
    .nmSectionHead a {
        font-size: 22px;
    }

    .nmSpecialLinks li a {
        font-family: $font-family-base;
        font-size: 15px;
    }
}
